* {
    box-sizing: border-box;
}

body {
    background: #999;
}

.container {
    width: 1920px;
    height: 1080px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 400px;
    height: 400px;
    background: antiquewhite;
    border-radius: 100px;
    box-shadow: 24px 24px 55px rgba(207, 209, 214, 0.7), -24px -24px 55px rgba(255, 255, 255, 0.4);
}