* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

/* mobile */

.wrapper {
    width: 375px;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    background-image: url("https://github.com/rohjs/bugless-101/blob/master/css-basic/media-query/assets/img-bg.jpg?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 20px;
}

.info {
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.5;
}

.info div {
    margin-bottom: 24px;
}

.info a {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    border: 2px solid #ffffff;
    font-size: 15px;
    font-weight: bold;
    padding: 14px 37px;
}

.main-btn {
    max-width: 375px;
}

.main-btn a {
    width: 100%;
    padding: 20px 102px;
    background: #FFC82C;
    position: fixed;
    bottom: 0;
    left: 0;
    color: #1F2D3D;
    font-size: 18px;
    font-weight: bold;
}

@media screen and (min-width: 375px) {
    .wrapper {
        width: 1440px;
        height: 900px;
    }

    .container {
        padding: 0;
    }

    .info {
        align-items: center;
        text-align: center;
        font-size: 50px;
    }

    .info div {
        margin-bottom: 32px;
    }

    .info a {
        padding: 16px 38px;
        font-size: 18px;
    }

    .main-btn a {
        max-width: 1440px;
    }

    .main-btn a {
        padding: 28px auto;
        text-align: center;
        top: 0;
        bottom: unset;
    }
}