* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    width: 240px;
    height: 56px;
    background: #fff;
    padding: 8px 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

section h1 a {
    color: #273444;
    font-size: 16px;
    font-weight: bold;
}

.user-container {
    width: 40px;
    height: 40px;
    position: relative;
    margin-right: 12px;
}

section img {
    width: 40px;
    border-radius: 50%;
}

.dot::after {
    content: "";
    display: block;
    background: #21D891;
    width: 8px;
    height: 8px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
}